/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .navbar-nav .nav-link {
        text-align: right;
    }

    .banner-text h2 {
        font-size: 25px;
        font-weight: 700;
    }

    .btn-custom {
        padding: 8px 30px;
        border: 1px solid #ffffff;
        margin-top: 40px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav .nav-link {
        text-align: right;
    }

    .banner-text h3 {
        font-size: 25px;
        padding-top: 93px;
        padding-bottom: 25px;
    }

    .banner-text h2 {
        font-size: 38px;
    }

    .btn-custom {
        font-size: 16px;
        padding: 6px 44px;
        border: 1px solid #ffffff;
        margin-top: 60px;
    }

    /* for development part */
    .development-part-one {
        padding-top: 65px;
    }

    .dev-content h2 {
        font-size: 35px;

    }

    .dev-content p {
        font-size: 14px;
        padding-bottom: 30px;

    }

    .dev-content2 h2 {
        font-size: 35px;

    }

    .development-part-2nd .dev-explain {
        font-size: 14px;
        padding-bottom: 30px;
        padding-right: 2%;
    }

    .development-part-2nd {
        background-color: #f1f0f0;
        padding: 40px 0 30px 0;
        margin-top: 20px;
    }

    .development-part-2nd .explain2 {
        font-size: 14px;
        padding-bottom: 20px;
        padding-right: 2%;
    }

    /* its for feature*/
    /* for feature area */
    .feature {
        padding: 60px 0;
    }

    .icon i {
        font-size: 20px;
        padding: 15px;
        line-height: 15px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon .male {
        font-size: 32px;
        padding: 19px;
        line-height: 13px;
    }

    .icon-content h3 {
        font-size: 20px;

    }

    .icon-content p {
        font-size: 14px;
        padding-right: 20%;
    }

    .client-area {
        padding: 23px 0;
    }

    .client-head h2 {
        font-size: 45px;
        text-transform: capitalize;
    }

    .client-head h5 {
        font-weight: normal;
        font-size: 18px;
        color: #777777;
        padding-bottom: 35px;
    }

    /*  */
    .client-image img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid #BE9E3F;
        margin-left: 20px;
    }

    .client-text h3 {
        font-size: 16px;
        padding: 3%;
    }

    .client-text p {
        font-size: 14px;

    }

    .client-text::before {
        border-top: 10px solid transparent;
        border-right: 30px solid #dddddd;
        border-bottom: 10px solid transparent;
        top: 43%;
        left: -3%;
    }

    .client-image2 img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid #BE9E3F;
        margin-left: 20px;
    }

    .client-text2 h3 {
        font-size: 16px;
        padding: 3%;
    }

    .client-text2 p {
        font-size: 14px;

    }

    .client-text2::after {
        border-top: 10px solid transparent;
        border-left: 30px solid #ddd;
        border-bottom: 10px solid transparent;
        top: 42%;
        left: 97%;
    }

    .branding {
        padding-bottom: 45px;
    }

    .social-content {
        text-align: center;
    }

    /* its for team */
    #team {
        padding: 50px 0;
    }

    .team-member {
        padding: 30px 6%;
    }

    .team-desig h5 {
        font-size: 14px;
        padding-top: 18px;
    }

    .sicial-media ul li i {
        width: 15px;
        height: 15px;
    }

    .social-link ul li {
        font-size: 6px;
        padding-top: 4px;
    }

    .sicial-media ul li a {
        font-size: 15px;
        padding: 5px;
        color: #ffffff;
    }

    .team-describe {
        font-size: 15px;
    }

    .team-text h2 {
        font-size: 45px;
    }

    .team-text h5 {
        font-size: 17px;
    }

    .team-image img {
        width: 150px;
        height: 150px;
        border: 3px solid #ffffff;
    }

    /* its for footer */
    #footer-area {
        padding-top: 65px;
    }

    .social-content h2 {
        font-size: 35px;

    }

    .social-content p {
        font-size: 14px;

    }

    .social-link ul li {
        font-size: 9px;
        padding-top: 10px;
    }

    .custom-form input {
        margin-bottom: 18px;
    }

    .custom-form textarea {
        width: 100%;
        padding: 18px;
        height: 140px;
        border-radius: 5px;
    }

    .copyrite {
        font-size: 12px;
        padding: 22px 0;
    }

    .line-design {
        margin-top: 60px;
    }


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav .nav-link {
        text-align: right;
        font-size: 16px;
    }

    .banner-text h3 {
        font-size: 25px;
        padding-top: 80px;
        padding-bottom: 35px;
    }

    .banner-text h2 {
        font-size: 45px;
        font-weight: 700;
    }

    .btn-custom {
        padding: 8px 40px;
        border: 1px solid #ffffff;
        margin-top: 60px;
    }

    /* for development part */
    .development-part-one {
        padding-top: 65px;
    }

    .dev-content h2 {
        font-size: 35px;

    }

    .dev-content p {
        font-size: 14px;
        padding-bottom: 30px;

    }

    .dev-content2 h2 {
        font-size: 35px;

    }

    .development-part-2nd .dev-explain {
        font-size: 14px;
        padding-bottom: 30px;
        padding-right: 2%;
    }

    .development-part-2nd {
        background-color: #f1f0f0;
        padding: 40px 0 30px 0;
        margin-top: 20px;
    }

    .development-part-2nd .explain2 {
        font-size: 14px;
        padding-bottom: 20px;
        padding-right: 2%;
    }

    /* for feature area */
    .feature {
        padding: 60px 0;
    }

    .icon i {
        font-size: 20px;
        padding: 15px;
        line-height: 15px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon .male {
        font-size: 32px;
        padding: 19px;
        line-height: 13px;
    }

    .icon-content h3 {
        font-size: 20px;

    }

    .icon-content p {
        font-size: 14px;
        padding-right: 20%;
    }

    .client-area {
        padding: 23px 0;
    }

    .client-head h2 {
        font-size: 45px;
        text-transform: capitalize;
    }

    .client-head h5 {
        font-weight: normal;
        font-size: 18px;
        color: #777777;
        padding-bottom: 35px;
    }

    /*  */
    .client-image img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid #BE9E3F;
        margin-left: 20px;
    }

    .client-text h3 {
        font-size: 16px;
        padding: 3%;
    }

    .client-text p {
        font-size: 14px;

    }

    .client-text::before {
        border-top: 10px solid transparent;
        border-right: 30px solid #dddddd;
        border-bottom: 10px solid transparent;
        top: 43%;
        left: -3%;
    }

    .client-image2 img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid #BE9E3F;
        margin-left: 20px;
    }

    .client-text2 h3 {
        font-size: 16px;
        padding: 3%;
    }

    .client-text2 p {
        font-size: 14px;

    }

    .client-text2::after {
        border-top: 10px solid transparent;
        border-left: 30px solid #ddd;
        border-bottom: 10px solid transparent;
        top: 42%;
        left: 97%;
    }

    .branding {
        padding-bottom: 45px;
    }

    /* its for team */
    #team {
        padding: 60px 0;
    }

    .team-member {
        padding: 36px 10%;
    }

    .team-desig h5 {
        font-size: 16px;
        padding-top: 20px;
    }

    .sicial-media ul li i {
        width: 20px;
        height: 20px;
    }

    .sicial-media ul li a {
        font-size: 17px;
        padding: 5px;
        color: #ffffff;
    }

    .team-describe {
        font-size: 15px;
    }

    .team-text h2 {
        font-size: 45px;
    }

    .team-text h5 {
        font-size: 17px;
    }

    .team-image img {
        width: 160px;
        height: 160px;
        border: 3px solid #ffffff;
    }

    /* its for footer */
    #footer-area {
        padding-top: 65px;
    }

    .social-content h2 {
        font-size: 35px;

    }

    .social-content p {
        font-size: 14px;

    }

    .social-link ul li {
        font-size: 9px;
        padding-top: 10px;
    }

    .custom-form input {
        margin-bottom: 18px;
    }

    .custom-form textarea {
        width: 100%;
        padding: 18px;
        height: 140px;
        border-radius: 5px;
    }

    .copyrite {
        font-size: 12px;
        padding: 22px 0;
    }

    .line-design {
        margin-top: 60px;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .feature {
        padding: 60px 0;
    }

    .team-member {
        padding: 52px 15%;
    }

    .team-describe {
        font-size: 19px;
    }

    .icon-content p {
        padding-right: 15%;
    }

    .social-content h2 {
        font-size: 50px;
    }

    .social-content p {
        font-size: 18px;
        color: #ffffff;
    }

    .social-link ul li {
        font-size: 14px;
        padding-top: 14px;
    }

    .custom-form input {
        margin-bottom: 20px;
        padding: 20px;
    }

    .custom-form textarea {
        padding: 20px;
        height: 180px;
    }

    .line-design {
        margin-top: 75px;
    }

    .copyrite {
        font-size: 14px;
        padding: 25px 0;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    ...
}